*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

#content input {
    padding-left: 5px;
    height: 30px;
}

#content textarea {
    padding-left: 5px;
    padding-top: 5px;
    height: 200px;
    resize: none;
}

h2,
h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabs {
    margin-bottom: 15px;
}

.nav-item, .submit, .add-cart {
    background: none;
    border: none;
    padding: 15px 10px 15px 10px;
    font-weight: bold;
}

button.add-cart {
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 3px 3px;
}

.nav-item:hover {
    background-color: rgb(235, 245, 245);
    border-radius: 20px;
    cursor: pointer;
}
.main {
    width: 100%;
    border-radius: 10px;
}

.product,
.contact-us {
    background-color: rgb(235, 245, 245);
    border-radius: 20px;
    margin-bottom: 20px;
}

.product {
    min-width: 300px;
    width: 50%;
    padding-bottom: 20px;
}

.contact-us {
    width: 40%;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

button.submit {
    width: 70px;

}

.recipe-image {
    min-width: 200px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}