*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --element-bg-color: #9FC088;
    --btn-hover-clr: #9FC088;
    --background-clr: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-clr);
    height: 100vh;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

#content input {
    padding-left: 5px;
    height: 30px;
}

#content textarea {
    padding-left: 5px;
    padding-top: 5px;
    height: 200px;
    resize: none;
}

h2,
h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabs {
    /* margin-bottom: 15px; */
}

.nav-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nav-item, .submit, .add-cart {
    background: none;
    border: none;
    padding: 15px 10px 15px 10px;
    font-weight: bold;
}

button.add-cart {
    border: solid 2px black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px;
}

.nav-item:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    border-radius: 10px;
}

.product,
.contact-us {
    background-color: var(--element-bg-color);
    border-radius: 5px;
    margin-bottom: 35px;
}

.product {
    min-width: 300px;
    width: 80%;
    padding-bottom: 20px;
}

.contact-us {
    width: 40%;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

button.submit {
    width: 70px;

}

button.active {
    background-color: var(--btn-hover-clr);
    box-shadow: 5px 5px 6px -4px;
}

.recipe-image {
    min-width: 200px;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}