*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --element-bg-color: #9FC088;
    --btn-hover-clr: #9FC088;
    --background-clr: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-clr);
    height: 100vh;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

#content .tabs {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#content input {
    padding-left: 5px;
    height: 30px;
}

#content textarea {
    padding-left: 5px;
    padding-top: 5px;
    height: 200px;
    resize: none;
}

h2,
h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nav-item, .submit, .add-cart {
    background: none;
    border: none;
    padding: 15px 10px 15px 10px;
    font-weight: bold;
}

button.add-cart, button.submit {
    border: solid 2px black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px;
    width: 100px;
}

.nav-item:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    border-radius: 10px;
}

.product,
.contact-us {
    background-color: var(--element-bg-color);
    border-radius: 7px;
    margin-bottom: 35px;
}

.product {
    display: flex;
    min-width: 300px;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 50px;
    justify-content: center;
}

.contact-us {
    width: 40%;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

button.submit {
    width: 70px;

}

button.active {
    background-color: var(--btn-hover-clr);
    box-shadow: 5px 5px 6px -4px;
}

.recipe-image {
    min-width: 200px;
    width: 40%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px;
}

form {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    gap: 25px;
}

.title-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    text-align: start;
}

@media all and (max-width: 500px) {

    .product {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        justify-content: center;
    }
    .recipe-image {
        max-width: 200px;
        max-height: 120px;
        margin-top: 30px;
        width: auto;
        height: auto;
        box-shadow: none;
    }

    .title-desc {
        flex-direction: column;
        width: 70%;
    }
}


